
body {
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 75px 150px 50px 150px;
    border: 1px solid #aaa;
}


header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 2em;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    letter-spacing: 3px;
    font-size: 17px;
    color: #006EB6;
    text-transform: uppercase;
    margin: 15px auto;
    border-bottom: 1px solid #ddd;
}


main {
    text-align: center;
    padding-top: 5px;
}

p {
    text-align: left;
    margin-bottom: 20px;
}


ol {
    list-style-type: decimal;
    padding-left: 20px;
    text-align: left;
    margin-left: 20px;
}

ol li {
    margin-bottom: 15px;
}


footer {
    text-align: center;
    margin-top: 50px;
}

footer img {
    width: 150px;
    height: auto;
}
