@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700');


$dark: #333;
$gray: #666;
$border: #d0d0d0;
$accent: #00ddff;
$active: #DEB887;



@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}



* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: $dark;
  margin: 0;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, nav a, .post-date {
  font-family: 'Lora', serif;
}



header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 3rem;
  margin: 0 0 20px 0;
  font-weight: 700;

  /* nested link */
  a {
    text-decoration: none;
    color: $dark;

    &:hover {
      color: $dark;
    }
  }
}



nav {
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  padding: 15px 0;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  li {
    margin: 10px 0;
  }

  a {
    text-decoration: none;
    color: $gray;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;

    &:visited {
      color: $gray;
    }

    &:hover {
      color: $accent;
    }

    &:active {
      color: $active;
    }
  }
}



article {
  margin-bottom: 60px;
}

.post-date {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 0 0 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid $border;
  text-align: right;
  color: $dark;
}

.post-content {
  h2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 15px;
    color: $gray;

    a {
      text-decoration: none;
      color: #888;

      &:hover {
        color: $accent;
      }

      &:active {
        color: $active;
      }
    }
  }
}



figure {
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
}

p {
  a {
    color: $gray;
    text-decoration: none;

    &:hover {
      color: $accent;
    }

    &:active {
      color: $active;
    }
  }
}



@include desktop {

  body {
    max-width: 960px;
    margin: 0 auto;
  }

  nav {
    ul {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
    }

    li {
      margin: 0;
    }
  }

  article {
    display: flex;
    align-items: flex-start;
    margin: 0;
  }

  .post-content {
    border-left: 1px solid $border;
    padding: 30px 0 30px 10px;
  }

  .post-date {
    flex: 0 0 150px;
    text-align: right;
    border-bottom: none;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1.2;
  }

  h1 {
    border: none;
  }
}
