
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Arizonia&family=Contrail+One&family=Kelly+Slab&family=Lora:ital,wght@0,400..700;1,400..700&family=Merienda:wght@300..900&family=Orbitron:wght@400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Walter+Turncoat&display=swap');

:root {
--primary-color: #1B98E0;
--secondary-color: #59c3c3;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: "Merienda";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
}

img {
	max-width: 100%;
}

/******************* header **********************/
header {
    display: flex;
    align-items: flex-end;
    justify-self: center;
    margin: 2em 0 4em 0;
}

header img{
    height: 6em;
}

h1{
    font-family: var(--secondary-font);
    font-size: 3em;
    line-height: 1;
}

/******************* search bar **********************/
form {
    display: flex;
    margin: 2em 0;
    justify-self: center;
    width: 90%;
    height: 2.5em;
    border: 1px solid #333;
    border-radius: 8px;
    
}

form input {
    width: 90%;
    font-size: 1.5em;
    flex: 1;
}

form button {
    cursor: pointer;
    width: 2.5em;
}

/******************* main **********************/
main {
    border-top: 2px solid #aaa;
}

/******************* recipe box **********************/
.recipebox {
    display: flex;
    flex-flow: column wrap;
    margin: 2em;
    border: 2px solid #333;
    border-radius: 8px;
    padding: 2em;
}

.tagsbox {
    margin: 0.5em 0;
}

.tagsbox li {
    border: 1px solid #333;
    display: inline-block;
    padding: 4px 10px;
    font-size: 25px;
}

.name {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    margin-top: 1em;
    font-size: 2em;
}

.icon-star, 
.icon-star-empty {
  font-size: 2em;
}

.icon-star { 
    color: #e8c142;
}


.description {
    display: none;
}


/******************* footer **********************/
footer{
    justify-items: center;
    margin: 4em 0 1em 0;
}
.social {
    display: grid;
    grid-template-columns: 3.5em 3.5em 3.5em;
    margin-bottom: 0.5em;
    gap: 10px;
}

.social img {
    display: block;
}

footer > a {
    /* color: var(--primary-color); */
    font-size: 15px;
    display: inline-block;
}


@media screen and (min-width: 600px){
    .recipebox{
        flex-flow: row nowrap;
    }

    .recipebox img {
        width: 40%;
    }

    .recipecontent {
        margin-left: 1em;
    }

    .tagsbox p {
        font-size: 18px;
    }

    .name {
        font-size: 1.7em;
        margin-top: 0.5em;
    }

    .icon-star, 
    .icon-star-empty {
        font-size: 1.5em;
    }

    .description {
        display: inline-block;
        margin-top: 1em;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 2em;
    }

    footer > a {
        order: -1;
    }
}

@media screen and (min-width: 960px) {
    body {
        width: 960px;
        margin: 0 auto;
    }
}


