
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Contrail+One&family=Kelly+Slab&family=Lora:ital,wght@0,400..700;1,400..700&family=Orbitron:wght@400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --gold-color: #EFC69B;
    --red-color: #AF1B3F;
    --red-color-border: 2px solid rgba(175, 27, 63, 0.5);
    --dark-color: #473144;
    --body-font: Helvetica, Arial, sans-serif;
    --headline-font: Lora, Impact, serif;
}

img {
    width: 100%;
}

body {
    font-family: var(--body-font);
}

.skiptocontent a {
	position: absolute;
	top: -60px;
	left: 0;
	background-color: var(--red-color);
    color: #fff;
    font-size: 1.5em;
    padding: 12px;
    border-bottom-right-radius: 10px;
}
.skiptocontent a:focus {
	top: 0;
}

h1 {
    color: var(--dark-color);
    font-family: var(--headline-font);
    text-align: center;
    padding: 1em;
    font-size: 2.2em;
}

nav {
    border-top: var(--red-color-border);
    border-bottom: var(--red-color-border);
}

nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: end;
    justify-items: end;
    margin-right: 6em;
}

nav a {
    color: var(--red-color);
    font-size: 1.2em;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#filter-box {
    border: var(--red-color-border);
    grid-column: 2/3;
}

.book-card-full {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.book-card-main h2 {
    color: var(--red-color);
    font-family: var(--headline-font);
}
